# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore Visual Studio Code settings
.vscode/

# Ignore CSV files
*.csv